{
  "openapi": "3.1.0",
  "info": {
    "title": "mailrs API",
    "version": "2.0.0",
    "description": "Email server REST API for sending, reading, and managing email"
  },
  "servers": [
    {
      "url": "https://mail.golia.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Status",
      "description": "Server health and status"
    },
    {
      "name": "Auth",
      "description": "Authentication (login, logout, session info)"
    },
    {
      "name": "Mail",
      "description": "Send, read, and manage email messages"
    },
    {
      "name": "Drafts",
      "description": "Draft message management"
    },
    {
      "name": "Conversations",
      "description": "Threaded conversation view and actions"
    },
    {
      "name": "Contacts",
      "description": "Contact autocomplete"
    },
    {
      "name": "Admin Domains",
      "description": "Domain management"
    },
    {
      "name": "Admin Accounts",
      "description": "Account management"
    },
    {
      "name": "Admin Aliases",
      "description": "Alias management"
    },
    {
      "name": "Admin Groups",
      "description": "Group and permission management"
    },
    {
      "name": "Admin Apps",
      "description": "Application management"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    },
    {
      "name": "Queue",
      "description": "Outbound queue management"
    },
    {
      "name": "TOTP",
      "description": "Two-factor authentication (TOTP)"
    },
    {
      "name": "Signatures",
      "description": "Email signature management"
    },
    {
      "name": "Encryption Keys",
      "description": "PGP/S-MIME encryption key management"
    },
    {
      "name": "Templates",
      "description": "Email template management"
    },
    {
      "name": "AI Assist",
      "description": "AI-powered email writing assistance"
    },
    {
      "name": "Admin Email Groups",
      "description": "Email distribution group management"
    },
    {
      "name": "Audit",
      "description": "Audit log"
    },
    {
      "name": "Export",
      "description": "Mailbox export"
    },
    {
      "name": "JMAP",
      "description": "JMAP protocol endpoints"
    },
    {
      "name": "DAV",
      "description": "CalDAV/CardDAV endpoints"
    },
    {
      "name": "Autodiscover",
      "description": "Mail client auto-configuration"
    },
    {
      "name": "Metrics",
      "description": "Prometheus metrics"
    },
    {
      "name": "Password Reset",
      "description": "Password reset flow"
    }
  ],
  "paths": {
    "/api/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get server status and statistics",
        "tags": [
          "Status"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Server status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Get detailed health check",
        "tags": [
          "Status"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Health check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/readiness": {
      "get": {
        "operationId": "getReadiness",
        "summary": "Kubernetes-style readiness probe",
        "tags": [
          "Status"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ready": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ready"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service is not ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ready": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Authenticate and get a session token",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many auth failures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Invalidate the current session token",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get the current authenticated user info",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Current user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/api/mail/folders": {
      "get": {
        "operationId": "getFolders",
        "summary": "List all mail folders for the authenticated user",
        "tags": [
          "Mail"
        ],
        "responses": {
          "200": {
            "description": "List of folders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FolderInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/folders/{name}/messages": {
      "get": {
        "operationId": "getFolderMessages",
        "summary": "List messages in a folder",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Folder name (e.g. INBOX, Sent, Drafts)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of message summaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/messages/{uid}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Get full message details by UID",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageDetail"
                }
              }
            }
          },
          "404": {
            "description": "Message not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "summary": "Delete a message by UID",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/messages/{uid}/flags": {
      "post": {
        "operationId": "updateMessageFlags",
        "summary": "Update message flags (seen, flagged, etc.)",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlagUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flag update result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/messages/{uid}/raw": {
      "get": {
        "operationId": "getMessageRaw",
        "summary": "Get raw RFC 5322 message source",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw message content",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Message not found"
          }
        }
      }
    },
    "/api/mail/messages/{uid}/attachments/{index}": {
      "get": {
        "operationId": "getAttachment",
        "summary": "Download an attachment by index",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment binary data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      }
    },
    "/api/mail/messages/{uid}/attachments/{index}/content": {
      "get": {
        "operationId": "getAttachmentContent",
        "summary": "Get extracted text content of an attachment (OCR/PDF)",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extracted text content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/send": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send an email message (JSON body)",
        "tags": [
          "Mail"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Not authorized to send from this address"
          }
        }
      }
    },
    "/api/mail/send-multipart": {
      "post": {
        "operationId": "sendMessageMultipart",
        "summary": "Send an email with attachments",
        "tags": [
          "Mail"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "Form fields: from, to, cc, bcc, subject, body, html_body, in_reply_to, reply_to_thread_id, list_unsubscribe (same as SendMessageRequest), plus one or more file attachments",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/inline-upload": {
      "post": {
        "operationId": "uploadInlineImage",
        "summary": "Upload an inline image for use in HTML email body",
        "tags": [
          "Mail"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful, returns image URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/inline/{id}": {
      "get": {
        "operationId": "serveInlineImage",
        "summary": "Serve a previously uploaded inline image",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image data",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    },
    "/api/mail/drafts": {
      "get": {
        "operationId": "listDrafts",
        "summary": "List all drafts for the authenticated user",
        "tags": [
          "Drafts"
        ],
        "responses": {
          "200": {
            "description": "List of drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DraftInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "saveDraft",
        "summary": "Save or update a draft",
        "tags": [
          "Drafts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveDraftRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Draft saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveDraftResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/drafts/{id}": {
      "delete": {
        "operationId": "deleteDraft",
        "summary": "Delete a draft by ID",
        "tags": [
          "Drafts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Draft deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/feedback": {
      "post": {
        "operationId": "recordFeedback",
        "summary": "Record classification feedback for a sender",
        "tags": [
          "Conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations": {
      "get": {
        "operationId": "getConversations",
        "summary": "List conversations (threaded view)",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Unix timestamp cursor for pagination (return conversations older than this)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category (personal, notification, promotion, spam, scam, general)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domains",
            "in": "query",
            "description": "Comma-separated domain filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "If true, show archived conversations",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Filter by folder name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConversationResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/batch": {
      "post": {
        "operationId": "batchConversations",
        "summary": "Perform a batch action on multiple conversations",
        "tags": [
          "Conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/categories": {
      "get": {
        "operationId": "getConversationCategories",
        "summary": "Get conversation counts grouped by category",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "domains",
            "in": "query",
            "description": "Comma-separated domain filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryCount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/search": {
      "get": {
        "operationId": "searchConversations",
        "summary": "Full-text search across conversations",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string (max 500 chars)",
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domains",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results as conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConversationResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/semantic-search": {
      "get": {
        "operationId": "semanticSearch",
        "summary": "Semantic (vector) search across conversations using AI embeddings",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domains",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Semantic search results with similarity scores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SemanticSearchResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}": {
      "get": {
        "operationId": "getThreadMessages",
        "summary": "Get all messages in a conversation thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domains",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages in the thread",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThreadMessageResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteThread",
        "summary": "Delete an entire conversation thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/read": {
      "post": {
        "operationId": "markThreadRead",
        "summary": "Mark all messages in a thread as read",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/unread": {
      "post": {
        "operationId": "markThreadUnread",
        "summary": "Mark a thread as unread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/star": {
      "post": {
        "operationId": "starThread",
        "summary": "Star (flag) a conversation thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/unstar": {
      "post": {
        "operationId": "unstarThread",
        "summary": "Remove star from a conversation thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/pin": {
      "post": {
        "operationId": "pinThread",
        "summary": "Pin a conversation thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/unpin": {
      "post": {
        "operationId": "unpinThread",
        "summary": "Unpin a conversation thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/archive": {
      "post": {
        "operationId": "archiveThread",
        "summary": "Archive a conversation thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/unarchive": {
      "post": {
        "operationId": "unarchiveThread",
        "summary": "Unarchive a conversation thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/snooze": {
      "put": {
        "operationId": "snoozeThread",
        "summary": "Snooze a thread until a specified time",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnoozeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unsnoozeThread",
        "summary": "Cancel a thread snooze",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/messages/{uid}/reactions": {
      "put": {
        "operationId": "toggleReaction",
        "summary": "Toggle an emoji reaction on a message",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleReactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated reactions for the message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleReactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversations/{thread_id}/reactions": {
      "get": {
        "operationId": "getThreadReactions",
        "summary": "Get all reactions for messages in a thread",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reactions grouped by message ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadReactionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts": {
      "get": {
        "operationId": "getContacts",
        "summary": "Autocomplete contacts from message history",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query for contact name or address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching contact addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/keys": {
      "post": {
        "operationId": "createApiKey",
        "summary": "Create a new API key (session auth only)",
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          },
          "403": {
            "description": "API keys cannot create other API keys"
          }
        }
      },
      "get": {
        "operationId": "listApiKeys",
        "summary": "List all active API keys for the authenticated user",
        "tags": [
          "API Keys"
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/keys/{id}": {
      "delete": {
        "operationId": "revokeApiKey",
        "summary": "Revoke an API key",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "API key not found or already revoked"
          }
        }
      }
    },
    "/api/agent/webhooks": {
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a new webhook subscription",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created (includes signing secret \u2014 save it, cannot be retrieved again)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL or event type"
          }
        }
      },
      "get": {
        "operationId": "listWebhooks",
        "summary": "List all active webhook subscriptions",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookListItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/webhooks/{id}": {
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook subscription",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found or already deleted"
          }
        }
      }
    },
    "/api/queue": {
      "get": {
        "operationId": "getQueue",
        "summary": "List recent outbound queue entries",
        "tags": [
          "Queue"
        ],
        "responses": {
          "200": {
            "description": "List of queue entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueueEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/queue/{id}/retry": {
      "post": {
        "operationId": "retryQueueMessage",
        "summary": "Retry a failed outbound message",
        "tags": [
          "Queue"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retry result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/domains": {
      "get": {
        "operationId": "listDomains",
        "summary": "List all domains",
        "tags": [
          "Admin Domains"
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addDomain",
        "summary": "Add a new domain",
        "tags": [
          "Admin Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/domains/{name}": {
      "delete": {
        "operationId": "removeDomain",
        "summary": "Remove a domain",
        "tags": [
          "Admin Domains"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/domains/{name}/check": {
      "post": {
        "operationId": "checkDomain",
        "summary": "Run DNS health check on a domain (MX, SPF, DKIM, DMARC)",
        "tags": [
          "Admin Domains"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain check report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Domain DNS health check report with MX, SPF, DKIM, and DMARC results"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List all accounts",
        "tags": [
          "Admin Accounts"
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addAccount",
        "summary": "Create a new account",
        "tags": [
          "Admin Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{address}": {
      "delete": {
        "operationId": "removeAccount",
        "summary": "Remove an account",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{address}/quota": {
      "get": {
        "operationId": "getQuota",
        "summary": "Get account storage quota",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quota info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaResponse"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "post": {
        "operationId": "setQuota",
        "summary": "Set account storage quota",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetQuotaRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{address}/sieve": {
      "get": {
        "operationId": "getSieve",
        "summary": "Get account sieve filtering script",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sieve script",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SieveResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "setSieve",
        "summary": "Set account sieve filtering script",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetSieveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSieve",
        "summary": "Delete account sieve filtering script",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{address}/groups": {
      "get": {
        "operationId": "getAccountGroups",
        "summary": "Get groups an account belongs to",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/accounts/{address}/overrides": {
      "get": {
        "operationId": "getAccountOverrides",
        "summary": "Get per-account permission overrides",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of permission overrides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OverrideEntry"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setAccountOverrides",
        "summary": "Set per-account permission overrides",
        "tags": [
          "Admin Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetOverridesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/aliases": {
      "get": {
        "operationId": "listAliases",
        "summary": "List all aliases",
        "tags": [
          "Admin Aliases"
        ],
        "responses": {
          "200": {
            "description": "List of aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addAlias",
        "summary": "Create a new alias",
        "tags": [
          "Admin Aliases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAliasRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/aliases/{id}": {
      "delete": {
        "operationId": "removeAlias",
        "summary": "Remove an alias",
        "tags": [
          "Admin Aliases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/greylist/local-lists": {
      "get": {
        "operationId": "listGreylistLocal",
        "summary": "List local greylist white/black entries",
        "tags": [
          "Admin Greylist"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "domain",
                "email",
                "cidr"
              ]
            }
          },
          {
            "name": "list",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "white",
                "black"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GreylistLocalEntry"
                  }
                }
              }
            }
          },
          "403": {
            "description": "admin.greylist required"
          }
        }
      },
      "post": {
        "operationId": "addGreylistLocal",
        "summary": "Create a local greylist entry",
        "tags": [
          "Admin Greylist"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGreylistLocalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GreylistLocalEntry"
                }
              }
            }
          },
          "400": {
            "description": "Invalid kind/list/value (non-canonical CIDR, malformed email, etc.)"
          },
          "403": {
            "description": "admin.greylist required"
          },
          "409": {
            "description": "(kind, value) already exists on the other list \u2014 delete first to move"
          }
        }
      }
    },
    "/api/admin/greylist/local-lists/{id}": {
      "delete": {
        "operationId": "removeGreylistLocal",
        "summary": "Remove a local greylist entry by id",
        "tags": [
          "Admin Greylist"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "403": {
            "description": "admin.greylist required"
          },
          "404": {
            "description": "Entry not found"
          }
        }
      }
    },
    "/api/admin/groups": {
      "get": {
        "operationId": "listGroups",
        "summary": "List all permission groups",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGroup",
        "summary": "Create a new permission group",
        "tags": [
          "Admin Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result (message contains the new group ID)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/groups/{id}": {
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Delete a permission group (non-builtin only)",
        "tags": [
          "Admin Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/groups/{id}/permissions": {
      "get": {
        "operationId": "getGroupPermissions",
        "summary": "Get permissions assigned to a group",
        "tags": [
          "Admin Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of permission strings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setGroupPermissions",
        "summary": "Set permissions for a group (replaces existing)",
        "tags": [
          "Admin Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetGroupPermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/groups/{id}/members": {
      "get": {
        "operationId": "listGroupMembers",
        "summary": "List members of a group",
        "tags": [
          "Admin Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of member addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addGroupMember",
        "summary": "Add a member to a group",
        "tags": [
          "Admin Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/groups/{id}/members/{address}": {
      "delete": {
        "operationId": "removeGroupMember",
        "summary": "Remove a member from a group",
        "tags": [
          "Admin Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/permissions": {
      "get": {
        "operationId": "getAllPermissions",
        "summary": "List all available permission strings",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Array of all permission strings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "mail.send",
                    "mail.read",
                    "mail.read_domain",
                    "admin.domains",
                    "admin.accounts",
                    "admin.aliases",
                    "admin.groups",
                    "admin.queue",
                    "admin.sieve",
                    "admin.impersonate",
                    "internal.rpc"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/apps": {
      "get": {
        "operationId": "listApps",
        "summary": "List all registered applications",
        "tags": [
          "Admin Apps"
        ],
        "responses": {
          "200": {
            "description": "List of apps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/App"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApp",
        "summary": "Create a new application with an initial API key",
        "tags": [
          "Admin Apps"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App created with initial API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/apps/{app_id}": {
      "get": {
        "operationId": "getApp",
        "summary": "Get application details",
        "tags": [
          "Admin Apps"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "404": {
            "description": "App not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteApp",
        "summary": "Delete an application",
        "tags": [
          "Admin Apps"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/apps/{app_id}/scopes": {
      "put": {
        "operationId": "updateAppScopes",
        "summary": "Update application scopes (permissions)",
        "tags": [
          "Admin Apps"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppScopesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/config/smtp": {
      "get": {
        "operationId": "getSmtpConfig",
        "summary": "Get SMTP server configuration snapshot",
        "tags": [
          "Admin Domains"
        ],
        "responses": {
          "200": {
            "description": "SMTP config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmtpConfigSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "operationId": "forgotPassword",
        "summary": "Request a password reset email",
        "tags": [
          "Password Reset"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Account email address"
                  }
                },
                "required": [
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent (always returns success to prevent enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "operationId": "resetPassword",
        "summary": "Reset password using a reset token",
        "tags": [
          "Password Reset"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "new_password": {
                    "type": "string"
                  }
                },
                "required": [
                  "token",
                  "new_password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/auth/totp/setup": {
      "post": {
        "operationId": "totpSetup",
        "summary": "Generate TOTP secret and provisioning URI",
        "tags": [
          "TOTP"
        ],
        "responses": {
          "200": {
            "description": "TOTP setup data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secret": {
                      "type": "string"
                    },
                    "uri": {
                      "type": "string",
                      "description": "otpauth:// URI for QR code"
                    }
                  },
                  "required": [
                    "secret",
                    "uri"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/totp/enable": {
      "post": {
        "operationId": "totpEnable",
        "summary": "Enable TOTP 2FA after verifying a code",
        "tags": [
          "TOTP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "secret": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "description": "6-digit TOTP code"
                  }
                },
                "required": [
                  "secret",
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid code"
          }
        }
      }
    },
    "/api/auth/totp/disable": {
      "post": {
        "operationId": "totpDisable",
        "summary": "Disable TOTP 2FA",
        "tags": [
          "TOTP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Current TOTP code to verify"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid code"
          }
        }
      }
    },
    "/api/auth/totp/status": {
      "get": {
        "operationId": "totpStatus",
        "summary": "Check if TOTP 2FA is enabled for the current user",
        "tags": [
          "TOTP"
        ],
        "responses": {
          "200": {
            "description": "TOTP status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "enabled"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/signatures": {
      "get": {
        "operationId": "listSignatures",
        "summary": "List email signatures",
        "tags": [
          "Signatures"
        ],
        "responses": {
          "200": {
            "description": "List of signatures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SignatureInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "saveSignature",
        "summary": "Create or update an email signature",
        "tags": [
          "Signatures"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "is_default": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/signatures/{id}": {
      "delete": {
        "operationId": "deleteSignature",
        "summary": "Delete a signature",
        "tags": [
          "Signatures"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signature deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/keys": {
      "get": {
        "operationId": "listKeys",
        "summary": "List encryption keys for the current user",
        "tags": [
          "Encryption Keys"
        ],
        "responses": {
          "200": {
            "description": "Encryption keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EncryptionKeyInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/keys/{key_type}": {
      "get": {
        "operationId": "getKey",
        "summary": "Get a specific encryption key",
        "tags": [
          "Encryption Keys"
        ],
        "parameters": [
          {
            "name": "key_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pgp",
                "smime"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptionKeyInfo"
                }
              }
            }
          },
          "404": {
            "description": "Key not found"
          }
        }
      },
      "put": {
        "operationId": "setKey",
        "summary": "Upload or update an encryption key",
        "tags": [
          "Encryption Keys"
        ],
        "parameters": [
          {
            "name": "key_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pgp",
                "smime"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "public_key": {
                    "type": "string"
                  },
                  "private_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "public_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteKey",
        "summary": "Delete an encryption key",
        "tags": [
          "Encryption Keys"
        ],
        "parameters": [
          {
            "name": "key_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pgp",
                "smime"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/keys/{address}/pgp": {
      "get": {
        "operationId": "getPublicPgpKey",
        "summary": "Get public PGP key for an address (no auth required)",
        "tags": [
          "Encryption Keys"
        ],
        "security": [],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public PGP key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "public_key": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "address",
                    "public_key"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No PGP key found"
          }
        }
      }
    },
    "/api/keys/{address}/smime": {
      "get": {
        "operationId": "getPublicSmimeKey",
        "summary": "Get public S/MIME certificate for an address (no auth required)",
        "tags": [
          "Encryption Keys"
        ],
        "security": [],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public S/MIME certificate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "public_key": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "address",
                    "public_key"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No S/MIME key found"
          }
        }
      }
    },
    "/api/mail/export": {
      "get": {
        "operationId": "exportMbox",
        "summary": "Export mailbox as mbox format",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Folder to export (default: INBOX)"
          }
        ],
        "responses": {
          "200": {
            "description": "Mbox file download",
            "content": {
              "application/mbox": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/pending/{message_id}": {
      "delete": {
        "operationId": "cancelPendingSend",
        "summary": "Cancel a pending outbound message",
        "tags": [
          "Mail"
        ],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Send cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          },
          "404": {
            "description": "Message not found or already sent"
          }
        }
      }
    },
    "/api/mail/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List email templates",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "saveTemplate",
        "summary": "Create or update an email template",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/templates/{id}": {
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Delete a template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/ai/polish": {
      "post": {
        "operationId": "aiPolish",
        "summary": "AI-polish an email draft",
        "tags": [
          "AI Assist"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "tone": {
                    "type": "string",
                    "description": "Desired tone (formal, casual, etc.)"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Polished text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "text"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/mail/ai/reply-suggest": {
      "post": {
        "operationId": "aiReplySuggest",
        "summary": "AI-generate reply suggestions",
        "tags": [
          "AI Assist"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "thread_id": {
                    "type": "string"
                  },
                  "context": {
                    "type": "string"
                  }
                },
                "required": [
                  "thread_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suggested replies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "suggestions"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/email-groups": {
      "get": {
        "operationId": "listEmailGroups",
        "summary": "List email distribution groups",
        "tags": [
          "Admin Email Groups"
        ],
        "responses": {
          "200": {
            "description": "Email groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailGroupInfo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEmailGroup",
        "summary": "Create an email distribution group",
        "tags": [
          "Admin Email Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Group email address"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "address",
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/email-groups/{id}": {
      "delete": {
        "operationId": "deleteEmailGroup",
        "summary": "Delete an email distribution group",
        "tags": [
          "Admin Email Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group deleted",
[...]
